APP_NAME=Task API
APP_ENV=production
APP_DEBUG=false
APP_PORT=8002

TEABLE_BASE_URL=https://plane.weavewp.com
TEABLE_API_TOKEN=replace_me

TEABLE_TABLE_TASKS=tblcIYqqfI1gx8dCctA
TEABLE_TABLE_TEAM=tblqbwuo04ZhdHq4Egm
TEABLE_TABLE_PROJECTS=tblkdYU3GrAdAPHrajt
TEABLE_TABLE_CLIENTES=tblqitScjLtqvttqlNQ
